- id: '1519348624408'
  alias: Secure Home, Stay
  trigger:
  - entity_id: alarm_control_panel.simplisafe
    from: disarmed
    platform: state
    to: armed_home
  - entity_id: alarm_control_panel.simplisafe
    from: armed_away
    platform: state
    to: armed_home
  condition: []
  action:
  - alias: ''
    data: {}
    service: cover.close_cover
- id: garage_state_change
  alias: Garage State Change
  initial_state: 'on'
  trigger:
  - entity_id: cover.garage_door_opener
    from: open
    to: closed
    platform: state
  - entity_id: cover.garage_door_opener
    from: closed
    to: open
    platform: state
  condition: []
  action:
  - data:
      message: Garage door opened/closed
    service: script.internal_notification
- id: '1519775124178'
  alias: Switch to Away Mode
  trigger:
  - entity_id: alarm_control_panel.home_security
    from: disarmed
    platform: state
    to: armed_away
  - entity_id: alarm_control_panel.home_security
    from: armed_home
    platform: state
    to: armed_away
  condition: []
  action:
  - delay:
      minutes: 4
  - data:
      entity_id: cover.garage_door
    service: cover.close_cover
  - data:
      entity_id: switch.master_tv
    service: switch.turn_off
  - data:
      entity_id: switch.living_tv_
    service: switch.turn_off
  - data:
      message: Away Mode activated
    service: script.global_notification

- id: '1520379769803'
  alias: Turn On Window AC
  trigger:
  - above: '82'
    entity_id: sensor.pws_temp_f
    platform: numeric_state
  condition:
  - condition: state
    entity_id: input_boolean.vacation_mode
    state: 'off'
  action:
  - data:
      entity_id: switch.upstairs_ac
    service: switch.turn_on
- id: '1520379886802a'
  alias: Turn Off Window AC
  trigger:
  - below: '81'
    entity_id: sensor.pws_temp_f
    platform: numeric_state
  - at: '23:45:00'
    platform: time
  condition:
  - condition: state
    entity_id: input_boolean.vacation_mode
    state: 'off'
  action:
  - data:
      entity_id: switch.upstairs_ac
    service: switch.turn_off
- id: '1521315030622'
  alias: Garage Home while Secure Home
  trigger:
  - entity_id: cover.garage_door
    from: closed
    platform: state
    to: open
  condition:
  - condition: state
    entity_id: alarm_control_panel.home_security
    state: armed_home
  action:
  - data:
      entity_id: switch.living_lamp
    service: switch.turn_on
  - service: script.global_notification
    data:
      message: Garage door has opened while secured!
- id: '1520389956382'
  alias: Night Light On
  hide_entity: true
  trigger:
  - entity_id: sun.sun
    from: above_horizon
    platform: state
    to: below_horizon
  action:
  - data:
      entity_id: switch.living_lamp
    service: switch.turn_on
- id: 'morning_news'
  alias: Morning News
  trigger:
  - platform: time
    at: '06:25:00'
  condition:
  - condition: time
    weekday:
    - mon
    - tue
    - wed
    - thu
    - fri
  action:
  - data:
      entity_id: switch.master_tv
    service: switch.turn_on
- id: 'morning_news_end'
  alias: Morning News Signoff
  trigger:
  - platform: time
    at: '07:55:00'
  condition:
  - condition: time
    weekday:
    - mon
    - tue
    - wed
    - thu
    - fri
  action:
  - data:
      entity_id: switch.master_tv
    service: switch.turn_off
- id: '1520390163853'
  alias: Night Light Off
  trigger:
  - at: '22:35:00'
    platform: time
  condition: []
  action:
  - data:
      entity_id: switch.living_lamp
    service: switch.turn_off
- id: notification_restart
  alias: Notification - Home Assistant Restart
  trigger:
  - event: start
    platform: homeassistant
  action:
  - data:
      message: Home Assistant has restarted.
    service: script.internal_notification
- id: update_notifications
  alias: Update notifications
  trigger:
  - platform: state
    entity_id: updater.updater
  action:
    service: notify.global_notification
    data_template:
      title: New Home Assistant Release
      message: Home Assistant  {{ states.updater.updater.state }}  is now available.
- id: '1520379769803'
  alias: Vacation-Turn On Window AC
  trigger:
  - above: '85'
    entity_id: sensor.pws_temp_f
    platform: numeric_state
  condition:
  - condition: state
    entity_id: input_boolean.vacation_mode
    state: 'on'
  action:
  - data:
      entity_id: switch.upstairs_ac
    service: switch.turn_on
- id: '1520379886802'
  alias: Vacation-Turn Off Window AC
  trigger:
  - below: '84'
    entity_id: sensor.pws_temp_f
    platform: numeric_state
  - at: '23:45:00'
    platform: time
  condition:
  - condition: state
    entity_id: input_boolean.vacation_mode
    state: 'on'
  action:
  - data:
      entity_id: switch.upstairs_ac
    service: switch.turn_off
- id: switch_on_modem
  alias: Switch On Modem
  trigger:
  - event: start
    platform: homeassistant
  - platform: time
    minutes: 5
    seconds: 0
  - platform: time
    minutes: 35
    seconds: 0
  action:
  - delay: 00:05:00
  - data:
      entity_id: switch.cable
    service: switch.turn_on
- id: disable_vacation_mode_on_return
  alias: Disable Vacation Mode on Return
  trigger:
    - entity_id: alarm_control_panel.home_security
      platform: state
      from: away
      to: disarmed
    - entity_id: alarm_control_panel.home_security
      platform: state
      from: away
      to: home
  action:
    - service: input_boolean.turn_off
      data:
        entity_id: input_boolean.vacation_mode
- id: trash_day_notification
  alias: Trash Day
  trigger:
    platform: time
    at: '17:30:00'
  condition:
  - condition: time
    weekday:
    - mon
    - thu
  action:
    service: persistent_notification.create
    data:
      message: Today is trash day
      title: Trash Day Reminder
      notification_id: "92349823748923749"
- id: dismiss_trash_notification
  alias: Trash Day-Dismiss Notification
  trigger:
    platform: time
    at: '14:40:00'
  condition:
  - condition: time
    weekday:
    - tue
    - fri
  action:
    service: persistent_notification.dismiss
    data:
      notification_id: "92349823748923749"

