- action:
  - alias: ''
    data: {}
    service: cover.close_cover
  alias: Secure Home, Stay
  condition: []
  id: '1519348624408'
  trigger:
  - entity_id: alarm_control_panel.simplisafe
    from: disarmed
    platform: state
    to: armed_home
  - entity_id: alarm_control_panel.simplisafe
    from: armed_away
    platform: state
    to: armed_home
################################################################################
- action:
  - data:
      entity_id: upstairs_ac
    service: switch.turn_off
  - data:
      entity_id: cover.garage_door_opener
    service: cover.close_cover
  alias: Secure Home, Away
  condition: []
  id: '1519775124178'
  trigger:
  - entity_id: alarm_control_panel.home_security
    from: disarmed
    platform: state
    to: armed_away
  - entity_id: alarm_control_panel.home_security
    from: armed_home
    platform: state
    to: armed_away
- action:
################################################################################
  - data:
      entity_id: switch.upstairs_ac
    service: switch.turn_on
  alias: Turn On Window AC
  hide_entity: true
  condition: []
  id: '1520379769803'
  trigger:
  - above: '82'
    entity_id: sensor.pws_temp_f
    platform: numeric_state
################################################################################
- action:
  - data:
      entity_id: switch.upstairs_ac
    service: switch.turn_off
  alias: Turn Off Window AC
  condition: []
  id: '1520379886802'
  trigger:
  - below: '81'
    entity_id: sensor.pws_temp_f
    platform: numeric_state
  - at: '23:45:00'
    platform: time
################################################################################
- action:
  - data:
      entity_id: switch.fireplace
    service: switch.turn_on
  alias: Night Light On
  hide_entity: true
  condition:
  - condition: state
    entity_id: alarm_control_panel.home_security
    state: armed_away
  id: '1520389956382'
  trigger:
  - entity_id: sun.sun
    from: above_horizon
    platform: state
    to: below_horizon
################################################################################
- action:
  - data:
      entity_id: switch.fireplace
    service: switch.turn_off
  alias: Night Light Off
  condition: []
  id: '1520390163853'
  trigger:
  - at: '22:35:00'
    platform: time
################################################################################
- action:
  - data:
      entity_id: switch.fireplace
    service: switch.turn_on
  - service: script.global_notification
    data:
      message: Garage door has opened while secured!
  alias: Garage Home while Secure Home
  condition:
  - condition: state
    entity_id: alarm_control_panel.home_security
    state: armed_home
  id: '1521315030622'
  trigger:
  - entity_id: cover.garage_door
    from: closed
    platform: state
    to: open
################################################################################
- id: notification_restart
  alias: Notification - Home Assistant Restart
  trigger:
  - event: start
    platform: homeassistant
  action:
  - data:
      message: Home Assistant has restarted.
    service: script.internal_notification
  initial_state: 'on'
################################################################################
- id: power_down_when_away
  alias: Power Down When Away
  initial_state: 'on'
  trigger:
  - entity_id: alarm_control_panel.simplisafe
    from: disarmed
    platform: state
    to: armed_away
  - entity_id: alarm_control_panel.simplisafe
    from: armed_home
    platform: state
    to: armed_away
  action:
  - data:
      entity_id: switch.master_tv
    service: switch.turn_off
  - data:
      entity_id: switch.living_tv_
    service: switch.turn_off
  - data:
      message: Power down has completed
    service: script.global_notification
################################################################################
- alias: Update notifications
  trigger:
    - platform: state
      entity_id: updater.updater
  action:
    service: notify.global_notification
    data_template: 
      title: 'New Home Assistant Release'
      message: "Home Assistant  {{ states.updater.updater.state }}  is now available."
################################################################################
