
# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

homeassistant:
#  longitude: !secret longitude
#  latitude: !secret latitude
  unit_system: imperial
  time_zone: America/Chicago

api:
history:
sun:

# Text to speech
tts:
  - platform: google_translate

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
climate: !include climate.yaml
input_boolean: !include input_boolean.yaml

http:
  # Secrets are defined in the file secrets.yaml
  # api_password: !secret http_password
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123
  # trusted_networks: !secret trusted_networks
  ip_ban_enabled: True
  login_attempts_threshold: 3
  server_port: 80

recorder:
  auto_purge: true
  purge_keep_days: 7
