homeassistant:
  # Name of the location where Home Assistant is running
  name: Home Assistant
  # Location required to calculate the time the sun rises and sets
  latitude: !secret loc_latitude
  longitude: !secret loc_longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 259
  # metric for Metric, imperial for Imperial
  unit_system: imperial
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: America/Chicago
  # Customization file
  customize: !include customize.yaml

# Show links to resources in log and frontend
# introduction:

# DD WRT configuration
device_tracker:
  - platform: ddwrt
    host: !secret ddrouter_ip
    username: !secret ddrouter_user
    password: !secret ddrouter_pass

# Controlling Alarm system
alarm_control_panel: 
  platform: simplisafe
  name: Home Security
  username: !secret ss_user
  password: !secret ss_pass

# Controlling garage door opener
cover Garage:
  - platform: myq
    friendly_name: Garage Door
    username: !secret myq_user
    password: !secret myq_pass
    type: liftmaster

# Enables the frontend
frontend:
  themes: !include theme.yaml

# Enables configuration UI
# config:

http:
  # Secrets are defined in the file secrets.yaml
  # api_password: !secret http_password
  # Uncomment this if you are using SSL/TLS, running in Docker container, etc.
  # base_url: example.duckdns.org:8123
  trusted_networks: !secret trusted_networks
  ip_ban_enabled: True
  login_attempts_threshold: 3

# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
# conversation:

# Enables support for tracking state changes over time
history:

# logging information to the database 
recorder:
  purge_keep_days: 90
  purge_interval: 7
  # db_url: !secret db_url

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
# map:

# Track the sun
sun:

# Text to speech
tts:
  - platform: google

# Cloud
# cloud:

# source external files
group: !include groups.yaml
# automation: !include automations.yaml
automation: !include_dir_merge_list automations
script: !include scripts.yaml
sensor: !include sensors.yaml
weblink: !include weblink.yaml
weather: !include weather.yaml
media_player: !include media_player.yaml
wemo: !include wemo.yaml
notify: !include notifications.yaml
input_boolean: !include input_boolean.yaml

